# ========================
# IDE 配置
# ========================
.vscode/
.idea/
.git/
.venv/
.vs/
AgentOS-build/
AgentOS/build/
AgentOS/ci-artifacts/
AgentOS/Docker/
MemoryRovol-build/
MemoryRovol/build/