[submodule "agent-workload"]
	path = agent-workload
	url = ../agent-workload.git
	branch = main
[submodule "agent-linux"]
	path = agent-linux
	url = ../agent-linux.git
	branch = main
[submodule "docs"]
	path = docs
	url = ../docs.git
	branch = main
[submodule "docs-closed"]
	path = docs-closed
	url = git@atomgit.com:openairymax/docs-closed.git
    branch = main
    update = none
[submodule "tools"]
	path = tools
	url = ../tools.git
	branch = main
[submodule "developbuild"]
	path = developbuild
	url = git@atomgit.com:openairymax/developbuild.git
	branch = main
	update = none
