[submodule "AgentOS"]
	path = AgentOS
	url = git@atomgit.com:openairymax/agentos.git
[submodule "DocsClosed"]
	path = DocsClosed
	url = git@atomgit.com:openairymax/docs-closed.git
[submodule "Desktop"]
	path = Desktop
	url = git@atomgit.com:openairymax/desktop.git
[submodule "Docker"]
	path = Docker
	url = git@atomgit.com:openairymax/docker.git
[submodule "Docs"]
	path = Docs
	url = git@atomgit.com:openairymax/docs.git
[submodule "MemoryRovol"]
	path = MemoryRovol
	url = git@atomgit.com:spharx/memoryrovol.git
